.section.no-pad-bot#index-banner
	.container
		%br/
		%br/
		%h1.header.center.orange-text What 2 Bring
		.row.center
			%ul
				%li 
					%h5 1) Crear evento
				%li
					%h5 2) Agregar items
				%li
					%h5 3) Comparte el enlace
			%h4.header.col.s12.light Una forma diferente de organizar
		.row.center
			-#=link_to("Crear evento",new_event_path,:class=>"btn-large waves-effect waves-light orange")
			%a.btn-large.waves-effect.waves-light.orange.modal-trigger{:href => "#modal1"} Crear evento
		%br/
		%br/
.container
	.section
		.row
			.col.s12.m4
				.icon-block
					%h2.center.light-blue-text
						%i.material-icons event_note
					%h5.center Organización más efectiva
					%p.light La intensión de w2b es fungir como soporte para tener un mejor <b> control </b> sobre la organización de las lista de materiales en un evento.
			.col.s12.m4
				.icon-block
					%h2.center.light-blue-text
						%i.material-icons star_border
					%h5.center Fácil de usar
					%p.light Es muy intuitiva, basta con crear un evento y compartir en enlace con las personas que necesites.
			.col.s12.m4
				.icon-block
					%h2.center.light-blue-text
						%i.material-icons important_devices
					%h5.center Máxima compatibilidad
					%p.light El diseño fue una de nuestras prioridades al diseñar este sitio. Se adapta, <b>evoluciona</b>, para que accedas cómodamente desde el dispositivo que quieras.
	%br/
	%br/
.section#start
	.container
		.row.center
	%br/
	%br/
	%br/
%footer.page-footer.orange
	.container
		.row
			.col.l6.s12
				%h5 What 2 Bring
				%p.grey-text.text-lighten-4 Proyecto semestral  Agosto - Diciembre 2017
				%p.grey-text.text-lighten-4 ITESM CSF - Introducción a la ingeniería en tecnologías computacionales
	.footer-copyright
		.container
			%a.right.waves-effect.waves-light.btn.orange{:href => "https://github.com/robtry/w2b"} GITHUB